@font-face {
font-family: 'Open Sans';
src: url('//m-build.cdnvideo.ru/web/user/fonts/open_sans/open_sans_semi-bold.woff') format('woff'), url('//m-build.cdnvideo.ru/web/user/fonts/open_sans/open_sans_semi-bold.ttf') format('ttf');
font-weight: 600;
font-style: normal;
font-display: swap;
}